/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
body {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 16px;
}
body .en {
    font-family: 'Neue Machina', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* 페이지 스크롤바 숨김 */
body::-webkit-scrollbar {
    display: none;
}

.wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.contents {
    background: #eee;
    position: relative;
    z-index: 1;
    margin-bottom: 100vh;
}

/* header */
header {display: flex; width: 100%; height: 70px; position: fixed; z-index: 2; left: 0; top: 0; background: transparent; transition: all .3s; transition-delay: .3s; transform: translate3d(0 -100px 0);}
header .innerHeader {width: 100%; height: 100%; display: flex; justify-content: space-between; line-height: 70px;}
header.active {transform: translateY(-100%);}
.innerHeader .logo {width: 50px; height: 50px;}
.innerHeader .logo img {width: 100%; height: 100%;}
.innerHeader nav {margin-right: 50px;}
.innerHeader ul {display: flex; text-align: center; margin-right: 50px; justify-content: space-between; width: 100%; font-weight: 200;}


/* section intro */
.intro {width: 100%; height: 100vh;}
.intro .inner {width: 100%; height: 100%; margin: 0px auto; position: relative;}
.intro .inner h2 {font-size: 10.4167vw; text-transform: uppercase; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 2; mix-blend-mode: difference; background: #000; color: #fff;}
.intro .inner .img {width: 280px; height: 460px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1;}
.intro .inner .img img {width: 100%; height: 100%;}
.intro .inner p {position: absolute; left: 50%; bottom: 0; font-size: 20px; transform: translate(-50%,-50%); font-size: 0.83vw; line-height: 1.6;}

/* section words */
.words {width: 100%; height: 100vh;}
.words .inner {width: 90%; height: 100%; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
.words .inner .textBox {font-size: 6.25vw; font-weight: bolder;-webkit-text-stroke: 1px #fff;}
.words .inner .textBox p {
    background: linear-gradient(to right, rgb(255,255,255) 50%, rgb(17,17,17) 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


/* section journey */
.journey {width: 100%; height: 5000px; overflow: hidden;}
.journey .inner {width: 100%; height: 100vh; margin: 0 auto; text-align: center; display: flex; justify-content: center; align-items: center;}
.journey h2 {font-size: 10.4167vw; text-transform: uppercase;}
.journey p {font-size: 16px; color: #888; line-height: 1.6;}
.journey .timeline {width: 80%; height: 2000px; margin: 0 auto;}
.journey .timeline li {margin: 100px 0; display: flex;}
.journey .timeline li p {padding: 0 30px;}
.journey .timeline .video {object-fit: cover; width: 700px; height: 470px; padding: 0 30px;}
.journey .timeline li .textBox {font-size: 30px; font-weight: 200;}
.journey .timeline li .textBox span {display: block; font-size: 180px; font-weight: 900; color: #000; line-height: 1;}
.journey .timeline li .img {width: 700px; height: 470px;}
.journey .timeline li .img img {width: 100%; height: 100%;}
.timeline li:nth-child(1), .timeline li:nth-child(3), .timeline li:nth-child(5) {text-align: right; float: right;}
.timeline li:nth-child(2), .timeline li:nth-child(4) {float: left; text-align: left;}

/* journey animation */
@keyframes up {
    0% {opacity: 0; transform: translateY(50px);}
    30% {opacity: 0; transform: translateY(50px);}
}
.timeline li.motion {animation-name: up; animation-duration: 0.7s;}


/* section skills */
.skills {width: 100%; height: 4000px; overflow: hidden;}
.skills .inner {width: 100%; height: 100vh; margin: 0 auto; text-align: center; display: flex; justify-content: center; align-items: center;}
.skills h2 {font-size: 10.4167vw; text-transform: uppercase;}
.skills p {font-size: 16px; color: #888; line-height: 1.6;}

/* section skills */
.ncs {width: 100%; height: 100vh; overflow: hidden;}
.ncs .inner {width: 100%; height: 100vh; margin: 0 auto; text-align: center; display: flex; justify-content: center; align-items: center;}
.ncs h2 {font-size: 10.4167vw; text-transform: uppercase; color: #fff;}
.ncs p {font-size: 16px; color: #888; line-height: 1.6;}




/* contact */
.contact {width: 100%; height: 100vh; position: relative;}
.contact .inner {width: 80%; margin: 0 auto; padding: 200px 0 0;}
.contact .inner .top {display: flex; justify-content: space-between;}
.contact .inner .top h2 {font-size: 8.33vw;}
.contact .inner .top .imgBox {width: 120px; height: 160px;}
.contact .inner .top .imgBox img {width: 100%; height: 100%;}
.contact .inner .middle {display: flex;}
.contact .inner .middle .title {font-weight: bold; font-size: 1.04vw; color: #888;}
.contact .inner .middle p {font-weight: lighter; font-size: 0.83; color: #888;}
.contact .inner .bottom {float: right; text-align: right;}
.contact .inner .bottom p {font-size: 3.65vw; padding: 10px 0;}
.contact .stroke {
    position: absolute;
    left: 0;
    bottom: -100px;
    font-weight: 900;
    font-size: 15.63vw;
    line-height: 1.2 ;
    -webkit-text-stroke: 1px #888;
    /* 텍스트에 그라데이션 배경 적용 */
    background: linear-gradient(to right, rgb(37,37,37) 50%, rgb(238,238,238) 50%);
    /* 배경 크기를 200% (두 배) 가로, 100% 세로로 설정 */
    background-size: 200% 100%;
    /* 배경 위치를 가로로 100%로 설정 */
    background-position-x: 100%;
    /* 텍스트에만 배경 적용 */
    background-clip: text;
    /* 웹킷 브라우저에서도 텍스트에만 배경 적용 */
    -webkit-background-clip: text;
    color: transparent;
}
/* contact end */






/* footer */
footer {position: fixed; width: 100%; height: 100%; background: #171717; left: 0; bottom: 0; transform: translateZ(-1);}
footer .menu {position: absolute;font-size: 45px; color: #888; display: flex; justify-content: space-between; width: 70%; left: 50%; top: 50%; transform: translate(-50%, -50%);}
footer ul li a {display: block; width: 100%; height: 100%; transition: all 0.3s;}
footer ul li a:hover, footer li a:focus {color: #fff; transition: all 0.5s;}
footer .copyright {position: absolute; left: 50%; bottom: 0; color: #808080; padding: 30px 0; border-top: 1px solid #333; width: 75%; display: flex; text-align: center; transform: translate(-50%); justify-content: center; font-weight: lighter;}
footer .copyright li {padding: 0 50px;}