/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
body {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 16px;
}
body .en {
    font-family: 'Neue Machina', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* 페이지 스크롤바 숨김 */
body::-webkit-scrollbar {
    display: none;
}

.wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.contents {
    background: #eee;
    position: relative;
    z-index: 1;
    margin-bottom: 100vh;
}


/* header */
header {display: flex; width: 100%; height: 70px; position: fixed; z-index: 2; left: 0; top: 0; background: transparent; transition: all .3s; transition-delay: .3s; transform: translate3d(0 -100px 0);}
header .innerHeader {width: 100%; height: 100%; display: flex; justify-content: space-between; line-height: 70px;}
header.active {transform: translateY(-100%);}
.innerHeader .logo {width: 50px; height: 50px;}
.innerHeader .logo img {width: 100%; height: 100%;}
.innerHeader nav {margin-right: 50px;}
.innerHeader ul {display: flex; text-align: center; margin-right: 50px; justify-content: space-between; width: 100%; font-weight: 200;}

/* section intro */
.intro {width: 100%; height: 100vh; background: #171717;}
.intro .imgBox {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}

/* section con01 */
.con01 {width: 100%; background: #171717; color: #fff;}
.con01 .title {width: 100%; text-align: center; display: flex; justify-content: center;}
.con01 .title ul {display: flex; width: 90%; justify-content: space-between; text-align: center; text-transform: uppercase; font-size: 20px;}
.con01 .textBox {font-size: 30px; font-weight: lighter; margin: 20% 0 20% 5%; line-height: 1.6;}
.con01 .imgBox {width: 100%; height: 100%;}
.con01 .imgBox img {width: 100%; height: 100%; padding: 10% 0;}
.con01 .nextBtn {display: block; width: 100%; height: 400px; background: #eee; color: #000; display: flex; justify-content: center; align-items: center; line-height: 1.4;}
.con01 .nextBtn h2 {font-size: 100px;}
.con01 .nextBtn p {text-transform: uppercase; font-size: 30px;}
.con01 .nextBtn span {display: inline-block; line-height: 0;}
.con01 .nextBtn:hover .textBox {scale: 1.1; transition-duration: 1s;}