@font-face {
    font-family: 'Neue Machina';
    src: local('Neue Machina Bold'), local('Neue-Machina-Bold'),
        url('NeueMachina-Bold.woff2') format('woff2'),
        url('NeueMachina-Bold.woff') format('woff'),
        url('NeueMachina-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }