@font-face {
    font-family: 'Neue Machina';
    src: local('Neue Machina Light'), local('Neue-Machina-Light'),
        url('NeueMachina-Light.woff2') format('woff2'),
        url('NeueMachina-Light.woff') format('woff'),
        url('NeueMachina-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }