@font-face {
    font-family: 'Neue Machina';
    src: local('Neue Machina Regular'), local('Neue-Machina-Regular'),
        url('NeueMachina-Regular.woff2') format('woff2'),
        url('NeueMachina-Regular.woff') format('woff'),
        url('NeueMachina-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }